$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
$maxWidth: 1920;
@mixin adaptiv-line-height($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 line-height: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
*,
*:after,
*:before,
*:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
html,
body {
	font-family: 'inter', sans-serif;
	position: relative;
  height: 100%;
}
body.lock {
  overflow: hidden;
}
.header {
  min-height: 100vh;
  background: url('../img/bg_header.jpg') center center no-repeat;
  margin-bottom: 200px;
}
@media (max-width: 991px) {
  .header {
    margin-bottom: 100px;
  }
}
.wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}
.header_wrap {
  padding-top: 42px;
  padding-bottom: 250px;
}
@media (max-width: 1200px) {
  .header_wrap {
    padding-bottom: 150px;
  }
}
@media (max-width: 991px) {
  .header_wrap {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
.topmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
  position: relative;
}
@media (max-width: 991px) {
  .topmenu {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .topmenu {
    padding-bottom: 90px;
    }
  }
.logo {
  width: 173px;
  height: 92px;
  img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 991px) {
  .logo {
     order: 1;
  }
}
@media (max-width: 575px) {
  .logo {
     width: 90px;
     height: 45px;
  }
}
.nav {
  ul {
    display: flex;
    justify-content: space-around;
    li {margin-right: 50px;
      &:last-child {
        margin: 0;
      }
      a {
        color: #fff;
        font-weight: 500;
        line-height: 1.5em;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
          color: #59ae6b;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .nav {
    ul {
      li {
        margin-right: 30px;
      }
    }
  }
}
@media (max-width: 991px) {
  .nav {
     order: 3;
     width: 100%;
     margin-top: 20px;
  }
}
@media (max-width: 575px) {
  .nav {
    z-index: 1;
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin: -20px 0 0 -20px;
    order: 2;
    background-color: #fff;
    padding: 27px 0 0 20px;
    &.active {
      transform: translateX(0);
    }
    ul {
      flex-direction: column;
      margin-bottom: 30px;
      li {
        margin: 0 0 10px 0;
        a {
          color: #272727;
          font-family: Inter;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
.nav_mob {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.nav_mob_soc {
  display: none;
}
@media (max-width: 575px) {
  .nav_mob_soc {
    width: 50%;
    display: flex;
    order: 2;
  }
}
.nav_mob_soc_whatsapp {
  margin-right: 18px;
  width: 22px;
  height: 22px;
  img {
    width: 100%;
    height: 100%;
  }
}
.nav_mob_soc_viber {
  width: 22px;
  height: 22px;
  img {
    width: 100%;
    height: 100%;
  }
}
.topmenu_contacts {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    li {
      color: #fff;
      @include adaptiv-font(18, 14);
      @include adaptiv-line-height(30, 28);
      margin-bottom: 8px;
      &:last-child {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 991px) {
  .topmenu_contacts {
     order: 2;
  }
}
@media (max-width: 575px) {
  .topmenu_contacts {
    order: 1;
    width: 50%;
    ul {
      align-items: flex-start;
      li {
        color: #59ae6b;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
        &:last-child {
          color: #a4a4a4;
          font-family: Inter;
          font-size: 10px;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
  }
}
.burger {
  display: none;
  width: 26px;
  height: 10px;
  position: relative;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
}
@media (max-width: 575px) {
  .burger {
    z-index: 1;
    display: block;
    order: 2;
  }
}
.burger.active {
  &:before {
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    background-color: #000;
  }
  &:after {
    transform: translateY(50%) rotate(-45deg);
    bottom: 50%;
    background-color: #000;
  }
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.header_content_desc {
  width: 45%;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.3s ease 0.3s;
}
.header_content_desc._active {
  transform: translateX(0px);
  opacity: 1;
  transition: all 0.3s ease 0.3s;
}
@media (max-width: 991px) {
  .header_content_desc {
     width: 100%;
  }
}
.header_content_title {
  padding-bottom: 30px;
    h1 {
    @include adaptiv-font(48, 24);
    @include adaptiv-line-height(68, 36);
    color: #ffffff;
    font-family: Inter;
    font-weight: 400;
  }
}
.header_content_text {
  padding-bottom: 50px;
  p {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
  }
}
.header_btn {
  display: none;
}
@media (max-width: 991px) {
  .header_btn {
    display: block;
  }
}
.header_btn_mob {
  width: 150px;
  height: 42px;
  border-radius: 4px;
  background-color: #59ae6b;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}
.header_content_form {
  width: 488px;
  height: 580px;
  background-color: #fff;
  padding: 64px 54px 0 54px;
  border-radius: 10px;
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.3s ease 0.3s;
}
@media (max-width: 1200px) {
  .header_content_form {
    width: 40%;
    padding: 40px 30px;
    height: auto;
  }
}
@media (max-width: 991px) {
  .header_content_form {
    display: none;
  }
}

.header_content_form._active {
  transform: translateX(0px);
  opacity: 1;
  transition: all 0.3s ease 0.3s;
}
.header_content_form_title {
  padding-bottom: 30px;
  h2 {
    color: #59AE6B;
    font-weight: 600;
    font-size: 24px;
  }
}
.header_content_form_list {
  ul {
    li {
      background: url('../img/Vector.png') 0 50% no-repeat;
      padding-left: 20px;
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 14px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
#header_form {
  margin-top: 45px;
  input {
    width: 100%;
    height: 65px;
    background-color: #F5F5F5;
    padding-left: 25px;
    border-radius: 4px;
    margin-bottom: 15px;
    &:nth-child(2) {
      margin-bottom: 55px;
    }
  }
}
.header_form_btn {
  background: #59AE6B;
  color: #fff;
  padding: 20px 65px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
// -------end header-----
// -------start projects-----
.projects {
  padding-bottom: 180px;
}
.projects_wrap {}
.projects_title {
  transform: translateY(100%);
  opacity: 0;
  padding-bottom: 100px;
  transition: all 0.3s ease 0.3s;
  h2 {
    color: #272727;
    font-family: Inter;
    @include adaptiv-font(36, 24);
    @include adaptiv-line-height(44, 34);
    font-weight: 600;
  }
}
.projects_title._active {
  transform: translateY(0);
  transition: all 0.3s ease 0.3s;
  opacity: 1;
}
@media (max-width: 991px) {
  .projects_title {
    padding-bottom: 50px;
  }
}
.projects_cards {}
.row_home {
  margin: 0 -10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
}
.row_sauna {
  margin: 0 -10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
}
@media (max-width: 1200px) {
  .row_home,
  .row_sauna {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 575px) {
  .row_sauna {
   display: none;
  }
}
.projects_card {
  padding: 0 10px;
  width: 33%;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .projects_card {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .projects_card {
    width: 100%;
  }
}
.projects_card_pic {
  border-radius: 4px;
  width: 100%;
  margin-bottom: 25px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    &:hover {
      transform: scale(1.1, 1.1);
      transition: all 0.3s ease 0s;
    }
  }
}
.projects_card_title {
  padding-bottom: 18px;
  h3 {
    color: #272727;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }
}
.projects_card_price {
  padding-bottom: 40px;
  p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    color: #a4a4a4;
    span {
      color: #59ae6b;
    }
  }
}
.projects_card_more {
  transition: all 0.3s ease 0s;
  &:hover {
      transform: scale(1.1, 1.1);
      transition: all 0.3s ease 0s;
    }
  a {
     color: #ffffff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 62px;
  }
  width: 203px;
  height: 55px;
  border-radius: 4px;
  background-color: #59ae6b;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575px) {
  .projects_card_more {
    width: 150px;
    height: 42px;
    a {
      font-size: 12px;
      padding: 14px 33px;
    }
  }
}
.projects_all {
    width: 203px;
    height: 58px;
    border-radius: 4px;
    border: 2px solid #59ae6b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: all 0.3s ease 0s;
    &:hover {
      transform: scale(1.1, 1.1);
      transition: all 0.3s ease 0s;
    }
    a {
      color: #59ae6b;
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      padding: 20px 55px;
    }
}
@media (max-width: 575px) {
  .projects_all {
    width: 150px;
    height: 42px;
    a {
      font-size: 12px;
      padding: 14px 33px;
    }
  }
}
//   -------end projects-----
// -------start price-----
.price {
  background-color: #f5f5f5;
  padding: 80px 20px;
}
@media (max-width: 575px) {
  .price {
    padding: 60px 20px;
  }
}
.price_wrap {
  padding: 60px 20px 60px 100px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}
@media (max-width: 991px) {
  .price_wrap {
    padding: 50px 20px;
  }
}
@media (max-width: 575px) {
  .price_wrap {
    padding: 30px 20px;
  }
}
.price_title {
  transform: translateY(100%);
  transition: all 0.3s ease 0.3s;
  opacity: 0;
  h2 {
    color: #272727;
    font-family: Inter;
    font-weight: 600;
    @include adaptiv-font(24, 18);
    @include adaptiv-line-height(38, 26);
  }
}
.price_title._active {
  transform: translateY(0);
  transition: all 0.3s ease 0.3s;
  opacity: 1;
}
.price_subtitle {
  padding-bottom: 20px;
  p {
    color: #a4a4a4;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
}
@media (max-width: 575px) {
  .price_subtitle {
    p {
      font-style: 12px;
      line-height: 24px;
    }  
  }
}
.price_step {
  padding-bottom: 50px;
  p {
    color: #000000;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    span {
      color: #59ae6b;
    }
  }
}
@media (max-width: 575px) {
  .price_step {
    p {
      font-style: 12px;
      line-height: 24px;
    }  
  }
}
.price_what {
  padding-bottom: 25px;
  p {
    color: #272727;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }
}
@media (max-width: 575px) {
  .price_what {
    p {
      font-size: 14px;
      line-height: 28px;
    }
  }
}
.price_row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 -10px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .price_row {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.price_card {
  cursor: pointer;
  padding: 0 10px;
  width: 33%;
}
@media (max-width: 767px) {
  .price_card {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .price_card {
    width: 100%;
  }
}
.price_card_pic {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    &:hover {
      transform: scale(1.1, 1.1);
      transition: all 0.3s ease 0s;
    }
  }
}
@media (max-width: 575px) {
  .price_card_pic {
    display: none;
  }
}
.price_card_select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #ccc;
    top: 0;
    right: 0;
  }
  &.r_active {
    p {
      color: #59AE6B;
    }
    &:after {
      border: 2px solid #59AE6B;
    }
  }
}
.price_card_select input {
  display: none;
}
@media (max-width: 575px) {
  .price_card_select {
    justify-content: flex-start;
    &:after {
      right: auto;
      left: 0;
    }
    p {
      padding-left: 30px;
    }
  }
}
.home_type {
color: #a4a4a4;
font-family: Inter;
font-size: 14px;
font-weight: 500;
}
@media (max-width: 575px) {
  .home_type {
    font-size: 12px;
  }
}
.radio_check {}

.price_next {
  width: 203px;
  height: 55px;
  border-radius: 4px;
  background-color: #59ae6b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 0.3s ease 0s;
  &:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease 0s;
    }
  a {
    color: #ffffff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    padding: 19px 74px;
  }
}
//   -------end price-----
// -------start about-----
.about {
  padding: 180px 0;
}
@media (max-width: 991px) {
  .about {
    padding: 50px 0 100px;
  }
}
.about_wrap {
}
.about_row {
  margin: 0 -10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}
@media (max-width: 767px) {
  .about_row {
    flex-wrap: wrap;
  }
}
.about_desc {
  width: 40%;
  padding: 0 10px;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.3s ease 0.5s;
}
.about_desc._active {
  transform: translateX(00px);
  opacity: 1;
  transition: all 0.3s ease 0.5s;
}
@media (max-width: 767px) {
  .about_desc {
    width: 100%;
    padding-bottom: 30px;
  }
}
.about_desc_title {
  padding-bottom: 80px;
  transform: translateY(100%);
  transition: all 0.3s ease 0.3s;
  opacity: 0;
  h2 {
    color: #272727;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
  }
}
.about_desc_title._active {
  transform: translateY(0%);
  transition: all 0.3s ease 0.3s;
  opacity: 1;
}
@media (max-width: 991px) {
  .about_desc_title {
    padding-bottom: 15px;
  }
}
.about_desc_text1 {
  padding-bottom: 40px;
  p {
    color: #272727;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
}
@media (max-width: 991px) {
  .about_desc_text1 {
    padding-bottom: 15px;
  }
}
.about_desc_list {
  padding-bottom: 40px;
  ul {
    li {
      color: #272727;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      padding-left: 30px;
      background: url('../img/Vector.png') left center no-repeat;
      margin-bottom: 25px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
@media (max-width: 991px) {
  .about_desc_list {
    padding-bottom: 15px;
    ul {
      li {
        margin-bottom: 10px;
        line-height: 20px;
      }
    }
  }
}
.about_desc_text2 {
  p {
    color: #272727;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
}
.about_graf {
  width: 50%;
  padding: 70px 10px 0;
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.3s ease 0.5s;
}
.about_graf._active {
  transform: translateX(0px);
  opacity: 1;
  transition: all 0.3s ease 0.5s;
}
@media (max-width: 991px) {
  .about_graf {
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .about_graf {
    width: 100%;
  }
}
.about_graf_pic {
  width: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
.about_graf_indexes_row {
  margin: 0 -5px;
  display: flex;
  justify-content: space-between;
}
.about_graf_indexes_card {
  padding: 0 5px;
  width: 33%;
}
.about_card_index {
  p {
    color: #59ae6b;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 68px;
    @include adaptiv-font(48, 24);
    @include adaptiv-line-height(68, 36);
  }
}
.about_card_title {
  p {
color: #272727;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 20px;
  }
}
//   -------end about-----
// -------start features----- 
.features {}
.features_wrap {}
.features_title {
  transform: translateY(100%);
  transition: all 0.3s ease 0.3s;
  opacity: 0;
  padding-bottom: 100px;
  h2 {
    color: #272727;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    @include adaptiv-font(36, 24);
    @include adaptiv-line-height(68, 34);
  }
}
.features_title._active {
  transform: translateY(0%);
  transition: all 0.3s ease 0.3s;
  opacity: 1;
}
@media (max-width: 575px) {
  .features_title {
    padding-bottom: 50px;
  }
}
.features_row {
  margin: 0 -10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.features_card {
  width: 33%;
  padding: 0 10px;
  text-align: center;
  margin-bottom: 125px;
  transform: scale(0.7, 0.7);
  transition: all 0.3s ease 0.5s;
}
.features_card._active {
  transform: scale(1, 1);
  transition: all 0.3s ease 0.5s;
}
@media (max-width: 575px) {
  .features_card {
    width: 100%;
    margin-bottom: 70px;
  }
}
.features_card_pic {
  margin: 0 auto;
  width: 68px;
  height: 68px;
  margin-bottom: 10px;
  img {
    width: 100%;
    height: 100%;
  }
}
.features_card_text {
  p {
    color: #272727;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }
}
@media (max-width: 575px) {
  .features_card_text {
    p {
      font-size: 14px;
    }
  }
}
//   -------end features----- 
// -------start zakaz-----
.zakaz {
  background-color: #f5f5f5;
  padding: 80px 0;
}
@media (max-width: 575px) {
  .zakaz {
    padding: 60px 0;
  }
}
.zakaz_wrap {}
.zakaz_title {
  transform: translateY(100%);
  transition: all 0.3s ease 0.3s;
  opacity: 0;
  padding-bottom: 100px;
  h2 {
    color: #272727;
    font-family: Inter;
    font-weight: 600;
    @include adaptiv-font(36, 24);
    @include adaptiv-line-height(68, 34);
  }
}
.zakaz_title._active {
  transform: translateY(0%);
  transition: all 0.3s ease 0.3s;
  opacity: 1;
}
@media (max-width: 575px) {
  .zakaz_title {
    padding-bottom: 80px;
  }
}
.zakaz_row {
  margin: 0 -10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .zakaz_row {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.zakaz_card {
  width: 20%;
  padding: 0 10px;
  text-align: center;
  position: relative;
  margin-bottom: 95px;
  transform: scale(0.7, 0.7);
  transition: all 0.3s ease 0s;
  &:after {
    position: absolute;
    content: url('../img/z-arr-right.png');
    bottom: 50%;
    right: -25%;
  }
  &:last-child {
    &:after {
      content: none;
    }
  }
}
.zakaz_card._active {
  transform: scale(1, 1);
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .zakaz_card {
    width: 100%;
    &:after {
      right: 50%;
      bottom: -50%;
      transform: translateX(50%) rotate(90deg);
    }
  }
}
@media (max-width: 7575px) {
  .zakaz_card {
    &:last-child {
      margin-bottom: 50px;
    }
  }
}
.zakaz_card_pic {
  width: 54px;
  height: 54px;
  margin: 0 auto 25px;
  img {
    width: 100%;
    height: 100%;
  }
}
.zakaz_card_text {
  p {
    color: #272727;
    font-family: Inter;
    font-weight: 500;
    @include adaptiv-font(18, 14);
    @include adaptiv-line-height(30, 20);
  }
}
.zakaz_btn {
  margin: 0 auto;
  width: 203px;
  height: 58px;
  border-radius: 4px;
  background-color: #59ae6b;
  display: flex;justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  &:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.3s ease 0s;
    }
  a {
    color: #ffffff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 70px;

  }
}
@media (max-width: 7575px) {
  .zakaz_btn {
    width: 150px;
    height: 42px;
    a {
      font-size: 12px;
      padding: 14px 49px;
    }
  }
}
//   -------end zakaz-----
// -------start comments-----
.comments {
  padding: 180px 0 234px;
  position: relative;
}
@media (max-width: 767px) {
  .comments {
    padding: 120px 0 50px;
  }
}
.comments_wrap {}
.comments_title {
  transform: translateY(100%);
  transition: all 0.3s ease 0.3s;
  opacity: 0;
  padding-bottom: 150px;
  h2 {
    color: #272727;
    font-family: Inter;
    font-weight: 600;
    @include adaptiv-font(36, 24);
    @include adaptiv-line-height(68, 34);
  }
}
.comments_title._active {
  transform: translateY(0%);
  transition: all 0.3s ease 0.3s;
  opacity: 1;
}
@media (max-width: 767px) {
  .comments_title {
    padding-bottom: 60px;
  }
}
.comments_slider_container {
  width: 100%;
  height: 310px;
  position: relative;
}
@media (max-width: 991px) {
  .comments_slider_container {
    height: 275px;
  }
}
@media (max-width: 767px) {
  .comments_slider_container {
    height: auto;
  }
}
.slider1 {
  width: 100%;
  position: relative;
}
@media (max-width: 767px) {
  .slider1 {
    display: none;
  }
}
.slider1_item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.slider1_item_blocktext {
  width: 25%;
  background-color: #a4a4a4;
  opacity: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 28px 36px;
}
@media (max-width: 991px) {
  .slider1_item_blocktext {
    width: 50%;
    padding: 10px;
  }
}
.slider1_item_blocktext_text {
  p {
  color: #272727;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  }
}
.slider1_item_blocktext_name {
  padding-left: 50px;
  position: relative;
  &:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.7, 0.7);
    left: 0;
    content: url('../img/user.png');
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    color: #272727;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
}
.slider1_item_pic {
  width: 25%;
  height: 310px;
  opacity: 0.5;
  filter: brightness(65%);
  img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 991px) {
  .slider1_item_pic {
    height: 275px;
    width: 50%;
  }
}
.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
}
.slider1 .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 0;
  width: 55px;
  height: 55px;
  cursor: pointer;
}
.slider1 .slick-prev {
  left: 90px;
  background: url('../img/arr-left.png') no-repeat;
}
@media (max-width: 991px) {
  .slider1 .slick-prev {
    left: 40px;
  }
}
.slider1 .slick-next {
  right: 90px;
  background: url('../img/arr-right.png') no-repeat;
}
@media (max-width: 991px) {
  .slider1 .slick-next {
    right: 40px;
  }
}

.slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  li {
    margin-right: 18px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #a4a4a4;
    &:last-child {
      margin: 0;
    }
    &.slick-active {
      background-color: #59ae6b;
    }
    button {
      font-size: 0;
    }
  }
}
.slider2 {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .slider2 {
    width: 100%;
    position: static;
    transform: translate(0, 0);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    background-color: #f5f5f5;
    overflow: hidden;
  }
}
.slider2_item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .slider2_item {
    flex-direction: column;
  }
}
.slider2_item_blocktext {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 38px 38px 52px;
  background-color: #f5f5f5;
}
@media (max-width: 991px) {
  .slider2_item_blocktext {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .slider2_item_blocktext {
    width: 100%;
  }
}
.slider2_item_blocktext_text {
  p {
    color: #272727;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .slider2_item_blocktext_text {
  }
}
.slider2_item_blocktext_name {
  padding-left: 50px;
  position: relative;
  &:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: url('../img/user.png');
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    p {
      color: #272727;
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
    }
}
@media (max-width: 767px) {
  .slider2_item_blocktext_name {
    display: none;
  }
}
.slider2_item_pic {
  width: 50%;
  height: 416px;
  img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 991px) {
  .slider2_item_pic {
    height: 325px;
  }
}
@media (max-width: 767px) {
  .slider2_item_pic {
    width: 100%;
    height: auto;
    padding: 0 20px;
    border-radius: 4px;
    margin-bottom: 45px;
  }
}
.slider2_item_blocktext_name_mob {
  display: none;
}
@media (max-width: 767px) {
  .slider2_item_blocktext_name_mob {
    display: block;
    padding-left: 50px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 45px;
    &:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      content: url('../img/user.png');
      width: 48px;
      height: 48px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      p {
        color: #272727;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
    }
  }
}
//   -------end comments-----
// -------start map----- 
.map {
  padding: 120px 0 180px;
}
@media (max-width: 575px) {
  .map {
    padding: 120px 0 50px;
  }
}
.map_wrap {
}
.map_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 -10px;
}
@media (max-width: 767px) {
  .map_row {
    flex-wrap: wrap;
  }
}
.map_left {
  width: 42%;
  padding: 110px 10px 0;
}
@media (max-width: 991px) {
  .map_left {
    width: 50%;
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .map_left {
    width: 100%;
    order: 2;
  }
}
.map_left_wrap {
  border-radius: 10px;
  border: 8px solid #f5f5f5;
  background-color: #ffffff;
  padding: 64px 54px;
}
@media (max-width: 991px) {
  .map_left_wrap {
    padding: 20px;
  }
}
.map_left_title {
  padding-bottom: 35px;
  h3 {
    color: #59ae6b;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
  }
}
@media (max-width: 991px) {
  .map_left_title {
    padding-bottom: 10px;
  }
}
.map_left_list {
  padding-bottom: 44px;
  ul {
    li {
      color: #272727;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      background: url('../img/Vector.png') 0 50% no-repeat;
      padding-left: 20px;
      margin-bottom: 15px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
@media (max-width: 991px) {
  .map_left_list {
    padding-bottom: 20px;
  }
}
#map_form {
  display: flex;
  flex-direction: column;
  input {
    width: 100%;
    height: 65px;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding-left: 25px;
    margin-bottom: 16px;
    &:nth-child(2) {
      margin-bottom: 34px;
    }
  }
}
.map_form_btn {
  color: #ffffff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  width: 203px;
  height: 58px;
  border-radius: 4px;
  background-color: #59ae6b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: all 0.3s ease 0s;
  &:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.3s ease 0s;
    }
}
.map_right {
  width: 50%;
  padding: 0 10px;
}
@media (max-width: 767px) {
  .map_right {
    width: 100%;
    order: 1;
    padding: 0 10px 30px;
  }
}
.map_right_title {
  transform: translateY(100%);
  transition: all 0.3s ease 0.3s;
  opacity: 0;
  padding-bottom: 32px;
  h2 {
    color: #272727;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
  }
}
.map_right_title._active {
  transform: translateY(0%);
  transition: all 0.3s ease 0.3s;
  opacity: 1;
}
.map_right_pic {
  margin-bottom: 22px;
  width: 100%;
  border-radius: 10px;
  img {
    width: 100%;
    height: 100%;
  }
}
.map_right_text {
  p {
    color: #59ae6b;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
}
//   -------end map----- 
// -------start footer----- 
.footer {
  background: #F5F5F5;
  padding: 90px 0 80px;
}
@media (max-width: 991px) {
  .footer {
    padding: 36px 0 32px;
  }
}
.footer_wrap {}
.footer_row {
  margin: 0 -10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 991px) {
  .footer_row {
    flex-wrap: wrap;
  }
}
.footer_logo {
  width: 15%;
  padding: 0 5px;
}
@media (max-width: 991px) {
  .footer_logo {
    width: 100%;
    margin-bottom: 32px;
  }
}
.footer_logo_wrap {
  width: 144px;
  height: 64px;
  img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 991px) {
  .footer_logo_wrap {
    width: 89px;
    height: 41px;
  }
}
.footer_nav {
  width: 22%;
  padding: 0 5px;
  ul {
    li {
      margin-bottom: 26px;
      &:last-child {
        margin: 0;
      }
      a {
        color: #272727;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        &:hover {
          text-decoration: underline;
          color: #59ae6b;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .footer_nav {
    ul {
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .footer_nav {
    padding-bottom: 52px;
    width: 100%;
    ul {
      li {
        margin-bottom: 8px;
      }
    }
  }
}
.footer_contacts1 {
  width: 16%;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .footer_contacts1 {
    width: 50%;
    padding: 0 10px;
  }
}
.footer_mess {
  padding-bottom: 68px;
}
@media (max-width: 991px) {
  .footer_mess {
    order: 2;
  }
}
.footer_contacts_title {
  padding-bottom: 15px;
  h4 {
    color: #a4a4a4;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
}
@media (max-width: 1200px) {
  .footer_contacts_title {
    h4 {
      font-size: 12px;
    }
  }
}
.footer_contacts_mess {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer_contacts_mess_whatsapp {
  width: 25px;
  height: 25px;
  margin-right: 16px;
  transition: all 0.3s ease 0s;
  &:hover {
      transform: scale(1.2, 1.2);
      transition: all 0.3s ease 0s;
    }
  img {
    width: 100%;
    height: 100%;
  }
}
.footer_contacts_mess_viber {
  width: 25px;
  height: 25px;
  transition: all 0.3s ease 0s;
  &:hover {
      transform: scale(1.2, 1.2);
      transition: all 0.3s ease 0s;
    }
  img {
    width: 100%;
    height: 100%;
  }
}
.footer_tel {}
@media (max-width: 991px) {
  .footer_tel {
    order: 1;
  }
}
.footer_contacts_subtitle {
  p {
    color: #59ae6b;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }
}
@media (max-width: 1200px) {
  .footer_contacts_subtitle {
    p {
      font-size: 14px;
    }
  }
}
.footer_contacts2 {
  width: 16%;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .footer_contacts2 {
    width: 50%;
    padding: 0 10px;
  }
}
.footer_soc {
  padding-bottom: 68px;
}
@media (max-width: 991px) {
  .footer_soc {
    order: 2;
  }
}
.footer_contacts_soc {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer_contacts_soc_vk {
  width: 25px;
  height: 25px;
  margin-right: 16px;
  transition: all 0.3s ease 0s;
  &:hover {
      transform: scale(1.2, 1.2);
      transition: all 0.3s ease 0s;
    }
  img {
    width: 100%;
    height: 100%;
  }
}
.footer_contacts_soc_inst {
  width: 25px;
  height: 25px;
  transition: all 0.3s ease 0s;
   &:hover {
      transform: scale(1.2, 1.2);
      transition: all 0.3s ease 0s;
    }
  img {
    width: 100%;
    height: 100%;
  }
}
.footer_mail {}
@media (max-width: 991px) {
  .footer_mail {
    order: 1;
  }
}
.footer_contacts3 {
  width: 23%;
  padding: 0 5px;
}
@media (max-width: 991px) {
  .footer_contacts3 {
    width: 100%;
  }
}
.footer_addr {}
//   -------end footer----- 
// -------start copy-----
.copy {}
.copy_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}
.copy_copy {
  margin-right: 25px;
  p {
color: #a4a4a4;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 20px;
  }
}

.copy_info {
  p {
color: #a4a4a4;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 20px;
  }
}
@media (max-width: 767px) {
  .copy_info {
    display: none;
  }
}
//   -------end copy-----